body {
  padding: 10px;
}

.record_card {
  border: solid 3px black;
  max-width: fit-content;
  padding: 2px;
  margin: 5px;
}

.prison-dropdown {
  white-space: nowrap;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
